#!/usr/bin/env bash

allocation="berglandlab"

largeMemQueue="largemem"
standardQueue="standard"
devQueue="dev"

indexingMemRequest="100G"
indexingNodesRequest="1"
indexingCoresRequest="1"
indexingTimeRequest="0-05:00:00"
indexingQueue=${largeMemQueue}

mappingMemRequest="48"
mappingNodesRequest="1"
mappingCoresRequest="6"
mappingTimeRequest="0-02:00:00"
mappingQueueRequest=${standardQueue}

# email notifications can be ALL or NONE
mail_notifications="ALL"
userEmail="mst3k@virginia.edu"

# path to the directory where this project is located
projectDirectory="/scratch/$USER/example_iMapSplice"

# path to directory where RNA seuencing reads are located
RNAreadsDir="/scratch/$USER/data/RNAseqReads"

# path to a file containing list of RNA sequencing file stems
# this assumes files are named ${filestem}_R1_001.fastq.gz and ${filestem}_R2_001.fastq.gz
# edit the mapping script if a different convention is used.
# a file of file stems can be made with ls *.fastq.gz | cut -d "_" -f 1 | sort -u > filestems.txt
RNAreadFileStemList="/scratch/$USER/data/filestems.txt"

# name of gene annotation file, contained within $projectdirectory/geneAnnotationFile/
# You can convert UCSC GenePred table format to GAF using `bash convertToGAF.sh infile.genepred > outfile.gaf`
# For GenePred format, see: https://genome.ucsc.edu/FAQ/FAQformat.html#format9
gene_annotation_file_name="dmel3.example.gaf"

# name of gene annotation file, contained within $projectdirectory/SNPs/
snp_file_name="dgrp2.snps"

# Parameters for generating synthetic snp-mer sequences
# recommended settings of 201 for length, maximum of 5 samples
snpmer_seq_length="201"
max_snpmer_samples="5"
